
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OgrenciEkle</title>
</head>
<body>
    <div>
        <form action="/Ogrenci/OgrenciEkle" method="post">
            <div>
                <label>Ad</label>
                <input type="text" name="txtAd" id="txtAd" value="" />
            </div>
            <div>
                <label>Soyad</label>
                <input type="text" name="txtSoyad" id="txtSoyad" value="" />
            </div>
            <div>
                <label>Kullanıcı Adı</label>
                <input type="text" name="txtKullaniciAd" id="txtKullaniciAd" value="" />
            </div>
            <div>
                <label>Şifre</label>
                <input type="text" name="txtSifre" id="txtSifre" value="" />
            </div>
            <div>
                <input type="submit" name="btnKaydet" id="btnKaydet" value="Ekle" />
            </div>
        </form>
    </div>
</body>
</html>
